
<div class="col mb-3">
  <div class="row">
    <div class="col">
      <button (click)="fileInput.click()"  style="background-color: transparent; border: none;">
        <img [src]="imgUrl" class="rounded-circle" width="200px" height="200px" />
        <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)">
      </button>
    </div>
    <div class="col">
      
      
    </div>
    <div class="col">
     
      
    </div>
    <div class="col">
     
      
    </div>
  </div>
  
  
  <hr>
  <div class="row">
    <div class="col-lg-6">
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information de l'article </h2>
    </div>
    <div class="col-md-12">
      <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
        <div *ngFor="let msg of errorMsg">
          <span >{{msg}}</span>
        </div>
      </div>
      <form>
        <div class="row mb-3">
          <div class="form-floating">

            <input type="text" class="form-control" name="codearticle" placeholder="Code article" [(ngModel)]="articleDto.codeArticle">
            <label for="floatingTextarea2">Code article</label>

          </div>
        </div>
        <div class="row mb-3">
          <div class="form-floating">

          <input type="text" class="form-control" name="designation" placeholder="Designation"  [(ngModel)]="articleDto.designation">
          <label for="floatingTextarea2">Designation</label>

          </div>
        </div>
        <div class="row mb-3">
          <div class="form-floating">
            <textarea class="form-control"   name="description" [(ngModel)]="articleDto.description" id="floatingTextarea2" placeholder="product description" style="height: 100px ; width: 50%;"></textarea>
            <label for="floatingTextarea2">Description</label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text"  class="form-control" name="prixunitht" placeholder="Prix unitaire HT"
                   (input)="calculerTTC()"
                   [(ngModel)]="articleDto.prixUnitaireHt">     
          </div>
          <div class="col" *ngIf="TauxRemise">
            <input type="text"  class="form-control" name="tauxRemise" placeholder="Remise %"
                   (input)="calculerTTC()"
                   [(ngModel)]="articleDto.tauxRemise">
          </div> 
          <div class="col" *ngIf="Remise">
            <input   type="text" class="form-control" name="Remise" placeholder="Remise En (DT)"
                   (input)="calculerTTC()"
                   [(ngModel)]="articleDto.Remise">  
          </div>
          <div class="col" >
            <button (click)="changeRemise()" class="btn-primary" ><i class="fas fa-redo-alt"></i></button>  

          </div>
        </div>
        <div class="row mb-3">
          <div class="col"> prix Final
            <input type="text" class="form-control" name="prixunitttc" placeholder="Prix unitaire TTC"  [(ngModel)]="articleDto.prixUnitaireTtc">
          </div>
          <div class="col"> quantite argent:
            <input type="text" class="form-control" name="quantiteArgent" placeholder="quantiteArgent"  [(ngModel)]="articleDto.quantiteArgent">
          </div>
          <div class="col">prixAchat:
            <input type="text" class="form-control" name="prixAchat" placeholder="prixAchat"  [(ngModel)]="articleDto.prixAchat">
          </div>
          <div class="col"> Selectionner une categorie:
            <select class="form-control" name="cat" [(ngModel)]="categorieDto._id ">
              <option [value]="null">Selectionner une categorie</option>
              <option *ngFor="let cat of listeCategorie" [value]="cat._id">{{ cat.code  }} - {{ cat.designation }}</option>
            </select>
          </div>
        </div>
       
        
      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3" (click)="cancel()">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary" (click)="enregistrerArticle()">
      <i class="fas fa-save"></i>&nbsp;
      Enregitrer
    </button>
  </div>
    </div>
      <div class="col-lg-3" [hidden]="Allimage===true" >
        <div class="row ml-5 mb-5" >
          <button (click)="fileInput1.click()"  style="background-color: transparent; border: none;">
            <img [src]="imgUrl1" class="rounded-circle" width="150px" height="150px" />
            <input hidden type="file" #fileInput1 (change)="onFileInput1(fileInput1.files)">
          </button>        </div>
        <div class="row ml-5 mb-5">
          <button (click)="fileInput2.click()"  style="background-color: transparent; border: none;">
            <img [src]="imgUrl2" class="rounded-circle" width="150px" height="150px" />
            <input hidden type="file" #fileInput2 (change)="onFileInput2(fileInput2.files)">
          </button>
        </div>
        <div class="row ml-5 mb-5">
          <button (click)="fileInput3.click()"  style="background-color: transparent; border: none;">
            <img [src]="imgUrl3" class="rounded-circle" width="150px" height="150px" />
            <input hidden type="file" #fileInput3 (change)="onFileInput3(fileInput3.files)">
          </button>        </div>

      </div>
      <div class="col-lg-3" >
        <div class="row ml-5 mb-5 border"  style="border-color: rgb(255, 0, 0);" >
          <div class="col-lg-5">
            <button  [hidden]="update===false" >
              <img [src]="imgUrl15" class="rounded-circle" width="150px" height="150px" />
            </button> 
          </div>
          <div class="col-lg-1">
            <i  [hidden]="update===false" class='fa fa-exchange'></i>
          </div>
          <div class="col-lg-5">
            <button  [hidden]="update===false" >
              <img [src]="currentImg" class="rounded-circle" width="150px" height="150px" />
            </button> 
          </div>
          
        </div>
          <div class="row ml-5 mb-5 border" [hidden]="update===false"  style="border-color: rgb(255, 0, 0);" >

        </div>
       
        <div class="row ml-5 mb-5 " *ngFor="let img of images">
          
          <button [hidden]="update===true" (click)="fileInput6.click()" (click)="getimgID(img._id,img.photo)"  style="background-color: transparent; border: none;">
            <img [src]="img.photo" class="rounded-circle" width="100px" height="100px" />
            <input hidden type="file" #fileInput6 (change)="onFileInput6(fileInput6.files)">
          </button> 
            
        </div>
     

      </div>
      </div>

</div>




