<div class="card mb-3">
  <div class="card-body">
    <div class="row justify-content-between align-items-center">
      <div class="col-md">
        <h5 class="mb-2 mb-md-0">Order #{{Command.code}} 
        </h5>
      </div>
      <div class="col-auto">
        <button class="btn btn-falcon-default btn-sm me-1 mb-2 mb-sm-0" (click)="downloadInvoice()" type="button">
          <span class="fas fa-arrow-down me-1"> </span>Download (.pdf)
        </button>
        
      </div>
    </div>
  </div>
</div>

<div class="card mb-3">
  <div class="card-body">
    <div class="row align-items-center text-center mb-3">
      <div class="col-sm-6 text-sm-start">
        <img src="assets/rimes.PNG" alt="invoice" width="150" />
      </div>
      <div class="col text-sm-end mt-3 mt-sm-0">
        <h2 class="mb-3">Invoice</h2>
        <h5>Rimes Bijoux</h5>
        <p class="fs--1 mb-0">Rue Boughdirr,<br />nabeul, 8000</p>
      </div>
      <div class="col-12">
        <hr />
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col">
        <h6 class="text-500">Invoice to</h6>
        <h5>{{ClientDto.nom}} {{ClientDto.prenom}}</h5>
        <p class="fs--1">{{adresseDto.adresse1}}<br /> {{adresseDto.adresse1}},<br />{{adresseDto.ville}}</p>
        <p class="fs--1">
          <a href="mailto:example@gmail.com">{{ClientDto.mail}}</a><br />
          <a href="tel:444466667777">{{ClientDto.numTel}}</a>
        </p>
      </div>
      <div class="col-sm-auto ms-auto">
        <div class="table-responsive">
          <table class="table table-sm table-borderless fs--1">
            <tbody>
              <tr>
                <th class="text-sm-end">Invoice No:</th>
                <td>{{Command.code}}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Order Number:</th>
                <td>{{Command.code}}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Invoice Date:</th>
                <td>{{Command.dateCommande}}</td>
              </tr>
              <tr>
                <th class="text-sm-end">Expedition</th>
                <td>{{Command.Livraison}}</td>
              </tr>
              <tr class="alert alert-success fw-bold">
                <th class="text-sm-end">Amount Due:</th>
                <td>{{ calculerTotalCommande(Command._id) }} DNT</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="table-responsive scrollbar mt-4 fs--1">
      <table class="table table-striped border-bottom">
        <thead data-bs-theme="light">
          <tr class="bg-primary text-white dark__bg-1000">
            <th class="border-0">Products</th>
            <th class="border-0 text-center">Quantity</th>
            <th class="border-0 text-end">Unit price</th>
            <th class="border-0 text-end">Amount</th>
            <th class="border-0 text-end">total Amount</th>

          </tr>
        </thead>
        <tbody>
          <!-- Angular loop to display invoice line items -->
          <tr *ngFor="let ligneCommande of lignesCommande">
            <td class="align-middle">
              <h6 class="mb-0 text-nowrap">{{ ligneCommande.article?.codeArticle }}</h6>
              <p class="mb-0" *ngIf="ligneCommande.PrixVerso">Gravure verso  +5dt </p>
            </td>
            <td class="align-middle text-center">{{ ligneCommande.quantite }}</td>
            <td class="align-middle text-end" >{{ ligneCommande.prixUnitaire }}</td>
            <td class="align-middle text-end"  >{{ ligneCommande.quantite * ligneCommande.prixUnitaire }}</td>
            <td class="align-middle text-end" *ngIf="ligneCommande.PrixVerso" >{{ ligneCommande.quantite * ligneCommande.prixUnitaire +  ligneCommande.quantite * 5}} </td>
            <td class="align-middle text-end" *ngIf="!ligneCommande.PrixVerso" >{{ ligneCommande.quantite * ligneCommande.prixUnitaire }} </td>


          </tr>
        </tbody>
      </table>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <table class="table table-sm table-borderless fs--1 text-end">
          <tr>
            <th class="text-900">Subtotal:</th>
            <td class="fw-semi-bold">{{ calculerTotalCommande(Command._id) }}</td>
          </tr>
          <tr>
            <th class="text-900">Tax 8%:</th>
            <td class="fw-semi-bold">0</td>
          </tr>
          <tr class="border-top">
            <th class="text-900">Total:</th>
            <td class="fw-semi-bold">{{ calculerTotalCommande(Command._id) }}</td>
          </tr>
          <tr class="border-top border-top-2 fw-bolder text-900">
            <th>Amount Due:</th>
            <td>{{ calculerTotalCommande(Command._id) }} </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="authentication-modal" tabindex="-1" role="dialog" aria-labelledby="authentication-modal-label" aria-hidden="true">
  <div class="modal-dialog mt-6" role="document">
    <div class="modal-content border-0">
      <div class="modal-header px-5 position-relative modal-shape-header bg-shape">
        <div class="position-relative z-1" data-bs-theme="light">
          <h4 class="mb-0 text-white" id="authentication-modal-label">Register</h4>
          <p class="fs--1 mb-0 text-white">Please create your free Falcon account</p>
        </div>
        <button class="btn-close btn-close-white position-absolute top-0 end-0 mt-2 me-2" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    </div>
  </div>
</div>
