<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Mouvements du stock</h1>
    </div>
    <div class="col-md-4 p-0 text-right">
      <app-boutton-action
      [isImporterVisible]="false"
      [isNouveauVisible]="false"
      ></app-boutton-action>
    </div>
  </div>
  <div class="col "  >
    
      
    



<div class="row g-3">
  <div class="col-lg-8">
    <div class="card mb-3">
     
      <div class="card-body p-0">
        <form>
          <div class="accordion" id="mvtStkDetails"  *ngFor="let article of listArticles">
            <div class="card" >
              <div class="card-body" id="headingOne" >
                <button  class="btn btn-block text-left" type="button"  data-toggle="collapse"
                [attr.data-target]="'#collapseOne'+article._id" data-toggle="collapse"  aria-expanded="true" aria-controls="collapseOne">
                  <app-detail-mvt-stk-article 
                  
                  [articleDto]="article"
                  [Total]="calculerTotalCommande(article._id)">
                </app-detail-mvt-stk-article>
                </button>
              </div>
            </div>
            <!-- +++++++++++++ -->
            
          </div> 
        </form>
      </div>
    </div>
   
           
   
    
  </div>
  <div class="col-lg-4">
    
    <div class="card mb-3">
      <div class="card-header bg-light d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Categories</h5><a class="fs--1" href="#!">See all</a>
      </div> 
      <div class="card-body">
        <div class="d-flex" *ngFor="let cat of listCategories">
          
          <div class="flex-1 ms-2" *ngIf="cat.designation!='Argent'">
            <h6 class="mb-0"><a >{{ cat.designation }}</a></h6>
            <p class="fs--1 mb-0"></p>
            <button class="btn btn-light btn-sm py-0 mt-1 border"
                    name="categorie"
                    (click)="selectedCat(cat.code)"
                    type="button">
              <span data-fa-transform="shrink-5 left-2"></span>
              <span class="fs--1">search</span>
            </button>
            <div class="border-dashed-bottom my-3"></div>
          </div>
          
        </div>
        
        
       
        
        
      </div>
    </div>
    
  

  </div>
  <div class="row mb-3">
    <div class=" col-md-12 text-center">
      <app-pagination></app-pagination>
    </div>
  </div>

</div>
