


<div class=" card border h-100 border-primary">
  
<div>   <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(../../assets/img/icons/spot-illustrations/corner-4.png);">
</div>
  <div class="card-header" *ngIf="origin==='clienst'" >
    <div class="row align-items-center">
      <div class="col" >
        <h5 class="mb-0">Ref#{{commande.code}}</h5>
      </div>
      
      <div class="col-auto"><a class="btn btn-falcon-default btn-sm" (click)="modifierClick()" ><span class="fas fa-pencil-alt fs--2 me-1"></span>Update details</a></div>
      <div class="col-auto"><a class="btn btn-falcon-default btn-sm" (click)="Facture()" ><span class="fas fa-file-invoice-dollar"></span>Facture</a></div>

    </div>

  </div>
  <div class="card-body bg-light border-top">
    
    
    <div class="row">
      <div class="col-lg col-xxl-5">
       
        <div class="row">
          <p class="mb-0">Reference :<b> {{commande.code}} </b> </p>

        </div>
        <div class="row">
          <p class="col-md-12 text-center rounded-pill  badge-soft-warning ">{{ commande.noteLivraison }}</p>

        </div>

      </div>
      <div class="col-lg col-xxl-5">
        
        <h6 class="fw-semi-bold ls mb-3 text-uppercase"></h6>
        <div class="row" *ngIf="(cltFrs?.nom)|| (cltFrs?.prenom)">
          <div class="col" ><i class="fas fa-info-circle blue-color"></i> &nbsp; {{ cltFrs?.nom }} {{ cltFrs?.prenom }}</div>   
        
        </div>
       
        <div class="row">
          <div class="col"><a > <i class="fas fa-phone-alt blue-color"></i> &nbsp;{{ cltFrs?.numTel }}</a> </div>
         
        </div>
       
        <div class="row" *ngIf="commande.Livraison">
         
          <div class="col">
            <p > <i class='fas  fa-truck-fast gray-color'></i>{{commande.Livraison}}</p>
          </div>
         
        </div>
      </div>
      <div class="col-lg col-xxl-5 mt-4 mt-lg-0 offset-xxl-1">
        
        <div class="row">
          
          <div class="col"><a >{{ commande.dateCommande  | date:'yyyy-MM-dd' }}</a></div>
        </div>
        
        <div class="row" >
          <div class="col-5 col-sm-3">
          </div>          
          <div  class="{{icon}}"> <b>{{ commande.etatCommande }} </b> <span class="fas fa-check ms-1 enlarged-icon" data-fa-transform="shrink-2"></span></div>
          <style>
            .enlarged-icon {
              font-size: 1.5em; /* You can adjust the size as needed */
            }
          </style>              </div>
              
        </div>
        
      </div>
      
    </div>
  </div>


  <div class="card-footer border-top text-end"  >
    
    <div class="row" *ngIf="origin==='client'">
      <div class="col-auto mr-2"><a class="btn btn-falcon-default btn-sm" (click)="modifierClick()" ><span class="fas fa-pencil-alt fs--2 me-1"></span>Update details</a></div>
      <div class="col-auto"><a class="btn btn-falcon-default btn-sm" (click)="Facture()" ><span class="fas fa-file-invoice-dollar"></span>Facture</a></div>

     </div>
     <div class="col-auto ">    <a class="btn btn-falcon-default btn-sm text-end" data-toggle="modal" [attr.data-target]="'#modalDeleteArticle' + commande._id"><span class="fas fa-trash-alt fs--2 me-1"></span>Supprimer</a>
     </div>
    

  </div>
                  <div class="modal fade" id="modalDeleteArticle{{ commande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Etes vous-sur de vouloir supprimer cette commande ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-ban"></i>&nbsp;Annuler</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" [disabled]="Role === 'User'" (click)="confirmerEtSupprimerArticle()">
              <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
        </div>
      </div>
    </div>
  </div>
