<div class="card">
  
  <div class="card-header bg-light btn-reveal-trigger d-flex flex-between-center">
    
    <div class="row">
      
      <div class="col">
        <h5 class="mb-0">{{ ligneCommande.article?.designation }}</h5>

      </div>
      <div class="col" *ngIf="update">

      <a class="btn btn-link btn-sm btn-reveal text-600">
        <button type="button" class="btn btn-link" data-toggle="modal"
        *ngIf="ligneCommande._id" [attr.data-target]="'#modalUpdateLigne' + ligneCommande._id">
  <span class="fas fa-pencil-alt fs--2 me-1"></span>
  </button>    </a>
    </div>
  </div>  
  <div class="col" *ngIf="update">
    <button type="button" class="btn" data-toggle="modal"
                *ngIf="!ligneCommande._id" [attr.data-target]="'#modalDeleteArticle'">
          <i class="fas fa-trash-alt"></i>&nbsp;Article ajoutée
        </button>
  </div> 
  <div class="col" *ngIf="update">
    <button type="button" class="btn btn-link text-danger" data-toggle="modal"
    *ngIf="ligneCommande._id" [attr.data-target]="'#modalDeleteArticle' + ligneCommande._id">
<i class="fas fa-trash-alt"></i>&nbsp;
</button>
  </div> 

    

  </div>
  

  

  <div class="card-body">
    <table class="table table-borderless fs--1 mb-0">
      <tr class="border-bottom" style="width: 10px;">
        <th><div class="d-flex align-items-center position-relative"><img
          class="rounded-1" [src]="ligneCommande.article?.photo ? ligneCommande.article?.photo: 'assets/product.png'"
          width="50" alt="" />
     </div></th>
        <th class="ps-0 pt-0">
          <div class="pe-0 text-end"><B>{{ ligneCommande.article?.designation }}* {{ ligneCommande.quantite }}</B> </div>
        </th>
        <th class="pe-0 text-end pt-0" *ngIf="origin==='client'">{{ ligneCommande.prixUnitaire && ligneCommande.quantite ? +ligneCommande.prixUnitaire * +ligneCommande.quantite : '' }} Dt</th>
        <th class="pe-0 text-end pt-0" *ngIf="origin==='fournisseur'">{{ ligneCommande.prixAchat && ligneCommande.quantite ? +ligneCommande.prixAchat * +ligneCommande.quantite : '' }} Dt</th>

      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Taille">
        <th class="ps-0"><b> Taille </b> 
          <div class="text-400 fw-normal fs--2">:{{ ligneCommande.Taille}}</div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Taille}} </th>
      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Gravure?.Verso">
        <th class="ps-0"><b> Verso </b> 
          <div class="text-400 fw-normal fs--2"></div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Gravure?.Verso}} </th>
      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Gravure?.Recto">
        <th class="ps-0"><b> Recto </b> 
          <div class="text-400 fw-normal fs--2"></div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Gravure?.Recto}} </th>
      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Gravure?.Droite">
        <th class="ps-0"><b> Gravure droite </b> 
          <div class="text-400 fw-normal fs--2"></div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Gravure?.Droite}} </th>
      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Gravure?.Gauche">
        <th class="ps-0"><b> Gravure gauche </b> 
          <div class="text-400 fw-normal fs--2"></div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Gravure?.Gauche}} </th>
      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Platinage">
        <th class="ps-0"><b> Platinage </b> 
          <div class="text-400 fw-normal fs--2"></div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Platinage}} </th>
      </tr>
      <tr class="border-bottom" *ngIf="ligneCommande.Note">
        <th class="ps-0"><b> Note </b> 
          <div class="text-400 fw-normal fs--2"></div>
        </th>
        <th class="pe-0 text-end"  > {{ ligneCommande.Note}} </th>
      </tr>
      
      
      
      
    </table>
  </div>
  
  
  
     
<hr>



<div class="modal fade" id="modalDeleteArticle{{ ligneCommande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Etes vous-sur de vouloir supprimer cet article?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <i class="fas fa-ban"></i>&nbsp;Annuler</button>
          <button type="button"  class="btn btn-danger" data-dismiss="modal" [disabled]="Role === 'User'"  (click)="supprimerArticle()" >
            <i class="fas fa-trash-alt"></i>&nbsp;Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  



<div class="modal fade" *ngIf="Chaine" id="modalUpdateLigne{{ ligneCommande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog" >
<div class="modal-content">
 <div class="modal-header">
   <h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
 </div>
  
   <div class="form-row col-md-12 mt-4">
 
    <h5>   {{ligneCommande.article?.designation}} </h5>

   
     <div class="col">
       <label class="form-label" for="validationTooltip01">Taille</label>

       <input type="text" class="form-control"  placeholder="Taille" [(ngModel)]="ligneCommande.Taille">
     </div>
     
     
   </div>
   <div class="form-row col-md-12 mt-4">
     
     
     <div class="col">
       Selectionner un platinage
       <select  class="form-select" aria-label="Default select example" [(ngModel)]="ligneCommande.Platinage">
         <option [value]="'Silver'">Silver</option>
         <option [value]="'Gold'" >Gold</option>
         <option [value]="'Rosé'" >Rosé</option>
         <option [value]="'Blanc'" >Blanc</option>
          </select>
     </div>
     
     
   </div>
   
   <div class="form-row col-md-12 mt-4">
     <div class="col-md-4">
       
     
     <div class="form-floating">
       <textarea class="form-control" id="floatingTextarea2" [(ngModel)]="ligneCommande.Note" placeholder="Leave a comment here" style="height: 100px"></textarea>
       <label for="floatingTextarea2">Notes</label>
     </div>
   </div>
   <div class="form-row col-md-12 mt-4">
     <div class="col-md-1">
       <button type="button" class="btn btn-success"  [disabled]="disabled" (click)="modifyLigne()" ><i class="fas fa-plus"></i></button>
     </div>
   </div>
   
</div>


</div>
</div>
</div>


<div class="modal fade" *ngIf="Pendentif" id="modalUpdateLigne{{ ligneCommande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>

<h5>   {{ligneCommande.article?.designation}} </h5>

 <div class="form-row col-md-12 mt-4">
   <div class="col" >

    <div class="form-check">
      <input class="form-check-input" id="flexCheckIndeterminate" type="checkbox"  [(ngModel)]=" ligneCommande.PrixVerso"  />
      <label class="form-check-label" for="flexCheckIndeterminate">Gravure Verso + 5dt</label>
    </div>
     
   </div>
 </div>

   <div class="form-row col-md-12 mt-4">

   <div class="col-md-4" >
     <label class="form-label" for="validationTooltip01">Recto</label>

     <input type="text" class="form-control" placeholder="Recto" [(ngModel)]="Recto">
   </div>
   
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Verso</label>

     <input type="text" class="form-control"  placeholder="Verso" [(ngModel)]="Verso">
   </div>
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Taille</label>

     <input type="text" class="form-control"  placeholder="Taille" [(ngModel)]="ligneCommande.Taille">
   </div>
   
   
 </div>
 <div class="form-row col-md-12 mt-4">
   <div class="col">
     Selectionner un platinage
     <select  class="form-select" aria-label="Default select example" [(ngModel)]="ligneCommande.Platinage">
       <option [value]="'Silver'">Silver</option>
       <option [value]="'Gold'" >Gold</option>
       <option [value]="'Rosé'" >Rosé</option>
       <option [value]="'Blanc'" >Blanc</option>
     </select>
   </div>
 </div>
 <div class="form-row col-md-12 mt-4">

  
   <div class="col">
     <label class="form-label" for="validationTooltip01">Quantite argent</label>
     <input type="text" class="form-control"  placeholder="QntArgent" [(ngModel)]="ligneCommande.quantiteArgent">
   </div>
   
 </div>
 
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-4">
       
     
     <div class="form-floating">
       <textarea class="form-control" id="floatingTextarea2" [(ngModel)]="ligneCommande.Note" placeholder="Leave a comment here" style="height: 100px"></textarea>
       <label for="floatingTextarea2">Notes</label>
     </div>
   </div>
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-1">
     <button type="button" class="btn btn-success"  [disabled]="disabled" (click)="modifyLigne()" ><i class="fas fa-plus"></i></button>
   </div>
 </div>
 
</div>


</div>
</div>
</div>

<div class="modal fade" *ngIf="Collier" id="modalUpdateLigne{{ ligneCommande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
<h5>   {{ligneCommande.article?.designation}} </h5>

 <div class="form-row col-md-12 mt-4">

   <div class="col-md-4" >
     <label class="form-label" for="validationTooltip01">Recto</label>

     <input type="text" class="form-control" placeholder="Recto" [(ngModel)]="Recto">
   </div>
   
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Verso</label>

     <input type="text" class="form-control"  placeholder="Verso" [(ngModel)]="Verso">
   </div>
   <div class="col-md-4" >
     <label class="form-label" for="validationTooltip01">Droite</label>

     <input type="text" class="form-control"  placeholder="Droite" [(ngModel)]="Droite">
   </div>
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Gauche</label>

     <input type="text" class="form-control"  placeholder="Gauche" [(ngModel)]="Gauche">
   </div>
 
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Taille</label>

     <input type="text" class="form-control"  placeholder="Taille" [(ngModel)]="ligneCommande.Taille">
   </div>
   
   
 </div>
 <div class="form-row col-md-12 mt-4">
   
   
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Platinage</label>

     <input type="text" class="form-control"  placeholder="Platinage" [(ngModel)]="ligneCommande.Platinage">
   </div>
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Quantite argent</label>
     <input type="text" class="form-control"  placeholder="QntArgent" [(ngModel)]="ligneCommande.quantiteArgent">
   </div>
   
 </div>
 
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Note</label>
     <input type="text" class="form-control"  placeholder="Note"  [(ngModel)]="ligneCommande.Note">
   </div>
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-1">
     <button type="button" class="btn btn-success"  [disabled]="disabled" (click)="modifyLigne()" ><i class="fas fa-plus"></i></button>
   </div>
 </div>
 
</div>


</div>
</div>
</div>
<div class="modal fade" *ngIf="Braclet" id="modalUpdateLigne{{ ligneCommande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
 
 <div class="form-row col-md-12 mt-4">
  <h5>   {{ligneCommande.article?.designation}} </h5>

   <div class="col" >
     <label class="form-label" for="validationTooltip01">Recto</label>

     <input type="text" class="form-control" placeholder="Recto" [(ngModel)]="Recto">
   </div>
 </div>
 <div class="form-row col-md-12 mt-4">
   <div class="col">
     <label class="form-label" for="validationTooltip01">Verso</label>

     <input type="text" class="form-control"  placeholder="Verso" [(ngModel)]="Verso">
   </div>
 </div>
 <div class="form-row col-md-12 mt-4">
   
   
   
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Quantite argent</label>
     <input type="text" class="form-control"  placeholder="QntArgent" [(ngModel)]="ligneCommande.quantiteArgent">
   </div>
   
 </div>
 
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-4">
       
     
     <div class="form-floating">
       <textarea class="form-control" id="floatingTextarea2" [(ngModel)]="ligneCommande.Note" placeholder="Leave a comment here" style="height: 100px"></textarea>
       <label for="floatingTextarea2">Notes</label>
     </div>
   </div>
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-1">
     <button type="button" class="btn btn-success"  [disabled]="disabled" (click)="modifyLigne()"  ><i class="fas fa-plus"></i></button>
   </div>
 </div>
 
</div>


</div>
</div>
</div>


<div class="modal fade" *ngIf="bague" id="modalUpdateLigne{{ ligneCommande._id }}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
aria-hidden="true">
<div class="modal-dialog" >
<div class="modal-content">
<div class="modal-header">
 <h5 class="modal-title" id="staticBackdropLabel">Modification</h5>
 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
 <h5> {{ligneCommande.article?.designation}} </h5>
 <div class="form-row col-md-12 mt-4">

   <div class="col" >
     <label class="form-label" for="validationTooltip01">Gravure</label>

     <input type="text" class="form-control" placeholder="Recto" [(ngModel)]="Recto">
   </div>
 </div>
 
 <div class="form-row col-md-12 mt-4">
   <div class="col">
     Selectionner Taille
     <select  class="form-select" aria-label="Default select example" [(ngModel)]="ligneCommande.Taille">
       <option [value]="'S'">S</option>
       <option [value]="'M'" >M</option>
       <option [value]="'L'" >L</option>
       <option [value]="'XL'" >XL</option>
        </select>
   </div>
 </div>

 <div class="form-row col-md-12 mt-4">
   <div class="col-md-4">
     <label class="form-label" for="validationTooltip01">Quantite argent</label>
     <input type="text" class="form-control"  placeholder="QntArgent" [(ngModel)]="ligneCommande.quantiteArgent">
   </div>
   
 </div>
 
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-4">
       
     
     <div class="form-floating">
       <textarea class="form-control" id="floatingTextarea2" [(ngModel)]="ligneCommande.Note" placeholder="Leave a comment here" style="height: 100px"></textarea>
       <label for="floatingTextarea2">Notes</label>
     </div>
   </div>
 <div class="form-row col-md-12 mt-4">
   <div class="col-md-1">
     <button type="button" class="btn btn-success"  [disabled]="disabled" (click)="modifyLigne()" ><i class="fas fa-plus"></i></button>
   </div>
 </div>
 
</div>


</div>
</div>
</div>


    
    





  