
<div class="row">
  <div class="col">
    <div class="card overflow-hidden">
      
      <div class="card-body py-0">
        <div class="table-responsive scrollbar">
          <table class="table table-dashboard mb-0 fs--1">
            <tr>
              <td class="align-middle ps-0 text-nowrap">
                <div class="d-flex position-relative align-items-center"><img class="d-flex align-self-center me-2" src="{{articleDto.photo}}" alt=""   width="30" />
                  <div class="flex-1"><a class="stretched-link" >
                      <h6 class="mb-0">{{articleDto.designation}}</h6>
                    </a>
                    <p class="mb-0"></p>
                  </div>
                </div>
              </td>
              <td class="align-middle px-4" style="width:1%;" *ngIf="Total>0"><span class="badge fs--1 w-100 badge-soft-success">En stock</span></td>
              <td class="align-middle px-4" style="width:1%;" *ngIf="Total<=0"><span class="badge fs--1 w-100 badge-soft-danger">Hors stock</span></td>

              <td class="align-middle px-4 text-end text-nowrap" style="width:1%;">
                <h6 class="mb-0">{{Total}}</h6>
                <p class="fs--2 mb-0">{{articleDto.prixUnitaireHt}}dt</p>
              </td>
              
            </tr>
           
            
            
           
            
           
          </table>
        </div>
      </div>
      
    </div>
  </div>
</div>




